<div id="<%= dom_id tax_payment %>">
  <div>
    <strong>Payment date:</strong>
    <%= tax_payment.payment_date %>
  </div>

  <div>
    <strong>Quarter:</strong>
    <%= tax_payment.quarter %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= tax_payment.amount %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= tax_payment.notes %>
  </div>

</div>
